---
##
# setup:
# > pre-commit install --color auto --hook-type pre-commit --hook-type commit-msg
# update:
# > pre-commit autoupdate
##
repos:
  - repo: meta
    hooks:
      #- id: check-hooks-apply
      - id: check-useless-excludes
        name: Check for useless excludes (pre-commit)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflicts (pre-commit)
      #- id: check-toml
      - id: check-xml
        name: Check xml (pre-commit)
      - id: end-of-file-fixer
        name: Fix end of files (pre-commit)
      - id: trailing-whitespace
        name: Trim trailing whitespace (pre-commit)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.17.2
    hooks:
      - id: markdownlint-cli2
        name: Check markdown (markdownlint-cli2)
  - repo: https://github.com/hadolint/hadolint
    rev: v2.13.1-beta
    hooks:
      - id: hadolint
        name: Check Dockerfiles (hadolint)
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        name: Check yaml (yamllint)
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        name: Check Shell scripts files (shellcheck)
#  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
#    rev: v9.18.0
#    hooks:
#      - id: commitlint
#        name: Check commit message (commitlint)
#        stages: [commit-msg]
#        additional_dependencies: ['@commitlint/config-conventional']
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets (gitleaks)
  - repo: local
    hooks:
      - id: woodpecker-lint
        name: Check Woodpecker CI files (woodpecker-cli)
        entry: woodpecker-cli
        language: system
        args: [lint]
        types: [yaml]
        files: ^.woodpecker/
